```html
<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<body>

<div class="container">

    <h1>Add New Task</h1>

    <form method="POST">

        <input
            type="text"
            name="title"
            placeholder="Enter task name"
            required
        >

        <label>Priority</label>

        <select name="priority">
            <option value="High">🔴 High</option>
            <option value="Medium" selected>🟡 Medium</option>
            <option value="Low">🟢 Low</option>
        </select>

        <label>Category</label>

        <select name="category">
            <option value="Work">💼 Work</option>
            <option value="Study">📚 Study</option>
            <option value="Personal">🏠 Personal</option>
        </select>
        <label>Description</label>

<textarea
    name="description"
    rows="4"
    placeholder="Enter task details..."
></textarea>

        <label>Due Date</label>

        <input type="date" name="due_date">

        <button type="submit">
            Add Task
        </button>

    </form>

    <br>

    <a href="{{ url_for('dashboard') }}">
        Back to Dashboard
    </a>

</div>

</body>
</html>

